.contact_page_container{
    width: 100%;
}
.contact_page_container h1{
    font-size: 35px;
    text-align: center;
}
.maps{
    width: 100%;
    height: 60vh;
    border: none;
    padding: 100px 0 50px ;
}

.contact_page_container h1{
    margin-bottom: 100px;
}

.contact_section{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.container_form{
    display: flex;
    flex-direction: column;
}

.form_complement{
    position: relative;
    bottom: 100px;
    width: 500px;
}
.form_complement p{
    color: #ffffff;
}
.form_complement li {
    list-style: circle;
}

.form_complement h4{
    margin-bottom: 5px;
    text-align: center;
}

.form_complement ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms {
  display: flex;
  width: 500px;
  height: 450px;
  justify-content: space-between;
  background-color:  #000000;
  border-radius: 25px;
  padding: 40px 0px;
}

.aside_form{
    border-radius: 15px;
    border: #ffffff 2px solid;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_content {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info_contact{
    display: flex;
    width: 90%;
    height: 50px;
    align-items: center;
}

.info_contact p{
    font-weight: bold;
    font-size: 17px;
}

.info_contact img{
    width: 30px;
    height: 100%;
    padding-right: 30px;
    filter: invert();
}

input, textarea{
    border-radius: 20px;
    border: none;
    padding-left: 10px;
    width: 280px;
    height: 30px;
    background-color: #ffffff;

}

textarea{
    height: 100px;
}

select{
    width: 100%;
    margin-bottom: 10px;
}

.email, .name, .tel,  .message, .subject{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carte_entreprise{
    width: 100%;
}

.form_button{
    border-radius: 25px;
    padding: 15px;
    color: #000000;
    background-color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.form_button:hover{
    background-color: #00ffff;
    color: #000000;
}

@media screen and (min-width : 768px) and (max-width : 1023px) {
    .forms{
        width: 320px;
        height: 400px;
    }

    .aside_form{
        width: 45%;
    }

    .contact_section{
        gap: 30px;
    }

    .form_complement{
        width: 320px;
    }
}


@media screen and (min-width : 320px) and (max-width : 767px) {
    .contact_page{
        flex-direction: column-reverse;
    }
    .contact_page_container h1{
        margin-bottom: 50px;
    }
    .forms{
        width: 95%;
    }

    .contact_section{
        flex-direction: column;
        height: 100%;
        gap: 20px;
        margin-top: 20px;
        padding-bottom: 0;
    }

    .form_content {
        width: 100%;
        position: relative;
    }

    .forms{
        position: initial;
    }

    .aside_form{
        width: 300px;
    }

    .container_form{
        align-items: center;
    }

    .form_complement{
        position: initial;
        width: 90%;
        text-align: center;
    }

    .info_contact img{
        padding-right: 10px;
    }

    .info_contact p{
        font-size: 15px;
    }

    input, textarea{
        width: 250px;
    }
}