
.image_banner{
    width: 100%;
    height: 70vh;
    filter: brightness(50%);
    object-fit: cover;
}

h2{
    margin-top: 20px;
}

.banner_content_evenement{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 50%;
}

.detail_evenement{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail_evenement h2{
    font-size: 30px;
    padding: 0 0 20px 0;
    margin: 0;
}

.evenement_content{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}
.list_evenement{
    width: 80%;
    text-align: center;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 20px 20px;
    border-radius: 25px;
}

.image_evenement{
    height: 300px;
    width: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.image-gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.image-gallery.left {
    flex-direction: row; /* Arrange items in a row for left-aligned */
}

.image-gallery.right {
    flex-direction: row-reverse; /* Arrange items in a row for right-aligned */
}

.image-gallery.right .button_left{
    left: 20px;
}

.image-gallery.right .button_right{
    left: 530px;
}

.image-gallery p {
    width: 30%;
}


.carousel-controls img{
    width: 25px;
}

.carousel-controls button{
   background : none;
   border: none;
}

.button_right{
    position: relative;
    left: -20px;
}

.button_left{
    position: relative;
    left: -530px;
}

@media screen and (min-width: 1440px) {
    .banner_content_evenement{
        top: 23%;
    }
}
@media screen and (min-width: 1260px) {
    .banner_content_evenement{
        top: 20%;
        width: 40%;
    }
}
@media screen and (min-width: 1600px) {
    .banner_content_evenement{
        width: 30%;
    }
}
@media screen and (max-width: 767px) {
    .banner_content_evenement{
        width: 98%;
        left: auto;
        top: 35%;
    }
    .banner_content_evenement h1{
        font-size: 40px;
        text-align: center;
    }
    .banner_content_evenement h2{
        font-size: 30px;
        text-align: center;
    }
    .evenement_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image_banner{
        height: 100vh;
    }
    .image-gallery.left, .image-gallery.right{
        flex-direction: column;
    }
    .image-gallery.right .button_left{
        left: -130px;
    }
    .image-gallery.right .button_right{
        left: 130px;
    }
    .image_evenement{
        width: 250px;
        height: 200px;
        margin-bottom: 10px;
    }
    .button_right{
        left: 130px;
        bottom: 125px;
    }
    .button_left{
        left: -130px;
        bottom: 125px;
    }
    .carousel-controls img{
        width: 15px;
    }
    .evenement_content{
        margin-top: 0;
    }
    .detail_evenement h2{
        padding-top: 10px;
    }
}