.futur_events_section {
    width: 100%;
    height: 400px;
    position: relative;
    bottom: 100px;
    display: flex;
    justify-content: center;
}

.futur_events_container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.evenement_a_venir {
    background-color: #000000; 
    border-radius: 15px 0 0 15px; 
    color: #ffffff;
    flex: 1; 
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%); 
    display: flex;
    position: relative;
    left: 52px;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 20px; 
}

.date_evenement_a_venir {
    background-color: #CB2C2C; 
    border-radius: 0 15px 15px 0; 
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%); 
    flex: 1; 
    display: flex;
    position: relative;
    right: 55px;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 20px; 
}


.evenement_a_venir_title{
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

@media screen and (min-width: 1200px) {
    .futur_events_container{
        width: 90%;
    }
    }

@media screen and (min-width: 1440px) {
        .futur_events_container{
            width: 80%;
    }
    }
@media screen and (min-width: 1600px) {
            .futur_events_container{
                width: 70%;
    }
    }
    @media screen and (max-width: 767px) {
        .evenement_a_venir{
            padding: 10px 30px 10px 10px;
            left: 22px;
        }
        .date_evenement_a_venir{
            padding: 10px 10px 10px 30px;
            right: 22px;
        }
        .futur_events_container{
            width: auto;
        }
        .evenement_a_venir_title{
            font-size: 20px;
            text-align: center;
        }
        .evenement_a_venir p, .date_evenement_a_venir p {
            font-size: 17px;
            text-align: center;
        }
    }
